<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734613902766-asnvg87l7lapvc8e6fsjf6st81tj5sr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734613902766-asnvg87l7lapvc8e6fsjf6st81tj5sr7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>734613902766-nj05leefahrehg5jvvb3al197hhqjfko.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAzxHKUN681mT7xJw1ZmXwk0WRoybD8Rg</string>
	<key>GCM_SENDER_ID</key>
	<string>734613902766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evince.eatance</string>
	<key>PROJECT_ID</key>
	<string>asapandroid-c4345</string>
	<key>STORAGE_BUCKET</key>
	<string>asapandroid-c4345.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734613902766:ios:3525a8ba456ec891</string>
	<key>DATABASE_URL</key>
	<string>https://asapandroid-c4345.firebaseio.com</string>
</dict>
</plist>